[submodule "illa-design"]
	path = illa-design
	url = git@github.com:China-li-bai/illa-design.git
	branch = develop
[submodule "apps/builder/src/illa-public-component"]
	path = apps/builder/src/illa-public-component
	url = git@github.com:China-li-bai/illa-public-component.git
